@import "tailwindcss";

:root {
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-primary: #006c2e;
  --color-secondary: #354336;
  --color-third: #efd78f;
  --color-light: #8d9e91;
  --shadow-main: rgba(0, 0, 0, 0.1) 0px 5px 25px 0px;
}
